@import url("./assets/fonts/poppins.css");
@import url("highlight.js/styles/github-dark.css") screen and
  (prefers-color-scheme: dark);
@import url("highlight.js/styles/github.css") screen and
  (prefers-color-scheme: light);

.mantine-CodeHighlight-codeHighlight {
  .mantine-CodeHighlight-controls {
    visibility: hidden;
  }
}
.mantine-CodeHighlight-codeHighlight:hover {
  .mantine-CodeHighlight-controls {
    visibility: visible;
  }
}

.mantine-CodeHighlight-controls {
  opacity: 0.7;
}

.mantine-CodeHighlight-controls:hover {
  opacity: 1;
}

/* Edge hover delete button styles */
.react-flow__edge:hover + .react-flow__edgelabel .edge-delete-button {
  opacity: 1 !important;
}

.react-flow__edge:hover .edge-delete-button {
  opacity: 1 !important;
}
